@import 'reset';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: fit-content;
  height: fit-content;
  margin: auto;

  div {
    label {
      color: #fff;
    }

    input,
    button {
      height: 30px;
      width: 200px;
    }

    table {
      margin: auto;
      color: #fff;

      #tHead {
        // position: fixed;
        display: block;
      }

      #tBody {
        display: block;
        overflow: auto;
        max-height: 200px;
        background-color: royalblue;
      }
    }
  }
}
