@import 'reset';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: fit-content;
  height: fit-content;
  margin: auto;

  div {
    label {
      color: #fff;
    }

    input,
    button {
      height: 30px;
      width: 200px;
    }

    button {
    }
  }
}
