@import 'reset';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;

  div {
    label {
      color: #fff;
    }

    input,
    button {
      height: 30px;
      width: 200px;
    }

    table {
      margin: 18% auto;
      color: rgb(44, 44, 44);
      font-size: 17px;
      font-weight: bold;
      pointer-events: auto;

      #tHead {
        display: block;
        margin-bottom: 10px;
        text-align: center;

        tr {
          th {
            min-width: 100px;
          }
        }
      }

      #tBody {
        display: block;
        overflow: auto;
        max-height: 170px;

        tr {
          height: 30px;
          line-height: 30px;
          border-bottom: 1px solid rgb(44, 44, 44);

          td {
            padding-left: 15px;
            min-width: 120px;
          }
        }
      }
    }
  }
}
